

<!--About Section-->  
<section class="section-two" id="about">
        <div class="about-showcase">
                <h1 class="about-title">
                    About me
                </h1>

                <div class="about-content">
                    <p class="about-description">
                        Hey 👋, I am Jay Bhadreshwara, an aspiring Data Scientist from Gujarat, India. 
                        I completed Bachelor of Computer Engineering from Gujarat Technological University. 
                        I love to play with machine learning and deep learning algorithms, and along with that I am interested in designing websites. 
                        When I get free time, I play chess and read books.
                    </p>
                    <div class="about-image">
                        <img class="my-aboutimg" src="../images/about/jay1.jpg" alt="">
                    </div>
                </div>

                <div class="about-work">
                    <p class="about-work-description">
                        TECHNOLOGIES I HAVE WORKED WITH
                    </p>

                    <div class="work-logos">
                        <div class="logos-content">
                            <div class="html-logos">
                                <img class="html-logo" src="../images/about/html-logo.png" alt="">
                            </div>
        
                            <div class="css-logos">
                                <img class="css-logo" src="../images/about/css-logo.png" alt="">
                            </div>
        
                            <div class="js-logos">
                                <img class="js-logo" src="../images/about/js-logo.jpg" alt="">
                            </div>
        
                            <div class="bs-logos">
                                <img class="bs-logo" src="../images/about/bs-logo.jpg" style="width: 125px;" alt="">
                            </div>
                            
                            <div class="jquery-logos">
                                <img class="jquery-logo" src="../images/about/jquery-logo.png" alt="">
                            </div>
                            <br>
                            <div class="python-logos">
                                <img class="python-logo" src="../images/about/python-logo.jpg" alt="">
                            </div>
        
                            <div class="java-logos">
                                <img class="java-logo" src="../images/about/java-logo.png" alt="">
                            </div>
        
                            <div class="c-logos">
                                <img class="c-logo" src="../images/about/c-logo.png" alt="">
                            </div>
        
                            <div class="cc-logos">
                                <img  class="cc-logo" src="../images/about/c++-logo.jpg" alt="">
                            </div>
                        </div>    
                    </div>
                </div>
                
            </div>

                
        </div>   
    </section>

</body>
</html>

